openapi: 3.0.3
info:
  contact:
    email: lob-openapi@lob.com
    name: Lob Developer Experience
    url: https://support.lob.com/
  description: |
    The Lob API is organized around REST. Our API is designed to have predictable, resource-oriented URLs and uses HTTP response codes to indicate any API errors. <p> Looking for our [previous documentation](https://lob.github.io/legacy-docs/)?
  license:
    name: MIT
    url: https://mit-license.org/
  termsOfService: https://www.lob.com/legal
  title: Lob
  version: 1.3.0
servers:
- description: production
  url: https://api.lob.com/v1
security:
- basicAuth: []
tags:
- description: To add an address to your address book, you create a new address object.
  name: Addresses
- description: Bank Accounts allow you to store your bank account securely in our
    system.
  name: Bank Accounts
- description: The Billing Groups API allows you to create and view labels that can
    be attached to certain consumption-based usages of Letters, Checks, Postcards
    and Self-Mailers to customize your bill.
  name: Billing Groups
- description: The card orders endpoint allows you to easily create card orders for
    existing cards.
  name: Card Orders
- description: The cards endpoint allows you to easily create cards that can later
    be affixed to Letters.
  name: Cards
- description: Checks allow you to send payments via physical checks.
  name: Checks
- description: When various notable things happen within the Lob architecture, Events
    will be created.
  name: Events
- description: Given partial international address information, this endpoint returns
    up to 10 address suggestions.
  name: Intl Autocompletions
- description: Address verification for non-US addresses
  name: Intl Verifications
- description: The letters endpoint allows you to easily print and mail letters.
  name: Letters
- description: The postcards endpoint allows you to easily print and mail postcards.
  name: Postcards
- description: Find a list of zip codes associated with a valid US location via latitude
    and longitude.
  name: Reverse Geocode Lookups
- description: The self mailer endpoint allows you to easily print and mail self mailers.
  name: Self Mailers
- description: These API endpoints allow you to create, retrieve, update and delete
    versions of reusable HTML templates for use with the Print & Mail API.
  name: Template Versions
- description: These API endpoints allow you to create, retrieve, update and delete
    reusable HTML templates for use with the Print & Mail API.
  name: Templates
- description: As mailpieces travel through the mail stream, USPS scans their unique
    barcodes, and Lob processes these mail scans to generate tracking events.
  name: Tracking Events
- description: Given partial domestic address information, this endpoint returns up
    to 10 address suggestions.
  name: Us Autocompletions
- description: Validate, automatically correct, and standardize the addresses in your
    address book based on USPS's [Coding Accuracy Support System (CASS)](https://postalpro.usps.com/certifications/cass).
  name: Us Verifications
- description: Find a list of cities, states and associated information about a US
    ZIP code.
  name: Zip Lookups
paths:
  /addresses:
    get:
      description: Returns a list of your addresses.
      operationId: addresses_list
      parameters:
      - description: How many results to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: |
          A reference to a list entry used for paginating to the previous set of entries. This field is pre-populated in the `previous_url` field in the return response.
        explode: true
        in: query
        name: before
        required: false
        schema:
          $ref: '#/components/schemas/before'
        style: form
      - description: |
          A reference to a list entry used for paginating to the next set of entries. This field is pre-populated in the `next_url` field in the return response.
        explode: true
        in: query
        name: after
        required: false
        schema:
          $ref: '#/components/schemas/after'
        style: form
      - description: |
          Request that the response include the total count by specifying `include[]=total_count`.
        explode: true
        in: query
        name: include
        required: false
        schema:
          $ref: '#/components/schemas/include_model'
        style: form
      - description: Filter by date created.
        explode: true
        in: query
        name: date_created
        required: false
        schema:
          additionalProperties:
            type: string
          description: 'Filter by ISO-8601 date or datetime, e.g. `{ gt: ''2012-01-01'',
            lt: ''2012-01-31T12:34:56Z'' }` where `gt` is >, `lt` is <, `gte` is ≥,
            and `lte` is ≤.'
          type: object
        style: form
      - description: Filter by metadata key-value pair`.
        explode: true
        in: query
        name: metadata
        required: false
        schema:
          $ref: '#/components/schemas/metadata_model'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/address_list'
          description: A dictionary with a data property that contains an array of
            up to `limit` addresses.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: list
      tags:
      - Addresses
      x-accepts: application/json
    post:
      description: Creates a new address given information
      operationId: address_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/address_editable'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/address'
          description: Echos the writable fields of a newly created address object.
          headers:
            ratelimit-limit:
              $ref: '#/components/headers/ratelimit-limit'
            ratelimit-remaining:
              $ref: '#/components/headers/ratelimit-remaining'
            ratelimit-reset:
              $ref: '#/components/headers/ratelimit-reset'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: create
      tags:
      - Addresses
      x-contentType: application/json
      x-accepts: application/json
  /addresses/{adr_id}:
    delete:
      description: Deletes the details of an existing address.
      operationId: address_delete
      parameters:
      - description: id of the address
        explode: false
        in: path
        name: adr_id
        required: true
        schema:
          $ref: '#/components/schemas/adr_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/address_deletion'
          description: Deleted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: delete
      tags:
      - Addresses
      x-accepts: application/json
    get:
      description: Retrieves the details of an existing address.
      operationId: address_retrieve
      parameters:
      - description: id of the address
        explode: false
        in: path
        name: adr_id
        required: true
        schema:
          $ref: '#/components/schemas/adr_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/address'
          description: Returns an address object if a valid identifier was provided.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: get
      tags:
      - Addresses
      x-accepts: application/json
  /bank_accounts/{bank_id}/verify:
    post:
      description: Verify a bank account in order to create a check.
      operationId: bank_account_verify
      parameters:
      - description: id of the bank account to be verified
        explode: false
        in: path
        name: bank_id
        required: true
        schema:
          $ref: '#/components/schemas/bank_id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bank_account_verify'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/bank_account_verify'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/bank_account_verify'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bank_account'
          description: Returns a bank_account object
          headers:
            ratelimit-limit:
              $ref: '#/components/headers/ratelimit-limit'
            ratelimit-remaining:
              $ref: '#/components/headers/ratelimit-remaining'
            ratelimit-reset:
              $ref: '#/components/headers/ratelimit-reset'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: verify
      tags:
      - Bank Accounts
      x-contentType: application/json
      x-accepts: application/json
  /bank_accounts/{bank_id}:
    delete:
      description: Permanently deletes a bank account. It cannot be undone.
      operationId: bank_account_delete
      parameters:
      - description: id of the bank account
        explode: false
        in: path
        name: bank_id
        required: true
        schema:
          $ref: '#/components/schemas/bank_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bank_account_deletion'
          description: Deleted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: delete
      tags:
      - Bank Accounts
      x-accepts: application/json
    get:
      description: Retrieves the details of an existing bank account. You need only
        supply the unique bank account identifier that was returned upon bank account
        creation.
      operationId: bank_account_retrieve
      parameters:
      - description: id of the bank account
        explode: false
        in: path
        name: bank_id
        required: true
        schema:
          $ref: '#/components/schemas/bank_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bank_account'
          description: Returns a bank account object
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: get
      tags:
      - Bank Accounts
      x-accepts: application/json
  /bank_accounts:
    get:
      description: Returns a list of your bank accounts. The bank accounts are returned
        sorted by creation date, with the most recently created bank accounts appearing
        first.
      operationId: bank_accounts_list
      parameters:
      - description: How many results to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: |
          A reference to a list entry used for paginating to the previous set of entries. This field is pre-populated in the `previous_url` field in the return response.
        explode: true
        in: query
        name: before
        required: false
        schema:
          $ref: '#/components/schemas/before'
        style: form
      - description: |
          A reference to a list entry used for paginating to the next set of entries. This field is pre-populated in the `next_url` field in the return response.
        explode: true
        in: query
        name: after
        required: false
        schema:
          $ref: '#/components/schemas/after'
        style: form
      - description: |
          Request that the response include the total count by specifying `include[]=total_count`.
        explode: true
        in: query
        name: include
        required: false
        schema:
          $ref: '#/components/schemas/include_model'
        style: form
      - description: Filter by date created.
        explode: true
        in: query
        name: date_created
        required: false
        schema:
          additionalProperties:
            type: string
          description: 'Filter by ISO-8601 date or datetime, e.g. `{ gt: ''2012-01-01'',
            lt: ''2012-01-31T12:34:56Z'' }` where `gt` is >, `lt` is <, `gte` is ≥,
            and `lte` is ≤.'
          type: object
        style: form
      - description: Filter by metadata key-value pair`.
        explode: true
        in: query
        name: metadata
        required: false
        schema:
          $ref: '#/components/schemas/metadata_model'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bank_account_list'
          description: A dictionary with a data property that contains an array of
            up to `limit` bank_accounts.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: list
      tags:
      - Bank Accounts
      x-accepts: application/json
    post:
      description: Creates a new bank account with the provided properties. Bank accounts
        created in live mode will need to be verified via micro deposits before being
        able to send live checks. The deposits will appear in the bank account in
        2-3 business days and have the description "VERIFICATION".
      operationId: bank_account_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bank_account_writable'
          application/x-www-form-urlencoded:
            encoding:
              metadata:
                explode: true
                style: deepObject
            schema:
              $ref: '#/components/schemas/bank_account_writable'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/bank_account_writable'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bank_account'
          description: Returns a bank_account object
          headers:
            ratelimit-limit:
              $ref: '#/components/headers/ratelimit-limit'
            ratelimit-remaining:
              $ref: '#/components/headers/ratelimit-remaining'
            ratelimit-reset:
              $ref: '#/components/headers/ratelimit-reset'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: create
      tags:
      - Bank Accounts
      x-contentType: application/json
      x-accepts: application/json
  /billing_groups/{bg_id}:
    get:
      description: Retrieves the details of an existing billing_group. You need only
        supply the unique billing_group identifier that was returned upon billing_group
        creation.
      operationId: billing_group_retrieve
      parameters:
      - description: id of the billing_group
        explode: false
        in: path
        name: bg_id
        required: true
        schema:
          $ref: '#/components/schemas/bg_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/billing_group'
          description: Returns a billing_group object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: get
      tags:
      - Billing Groups
      x-accepts: application/json
    post:
      description: Updates all editable attributes of the billing_group with the given
        id.
      operationId: billing_group_update
      parameters:
      - description: id of the billing_group
        explode: false
        in: path
        name: bg_id
        required: true
        schema:
          $ref: '#/components/schemas/bg_id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/billing_group_editable'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/billing_group_editable'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/billing_group_editable'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/billing_group'
          description: Returns a billing group object
          headers:
            ratelimit-limit:
              $ref: '#/components/headers/ratelimit-limit'
            ratelimit-remaining:
              $ref: '#/components/headers/ratelimit-remaining'
            ratelimit-reset:
              $ref: '#/components/headers/ratelimit-reset'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: update
      tags:
      - Billing Groups
      x-contentType: application/json
      x-accepts: application/json
  /billing_groups:
    get:
      description: Returns a list of your billing_groups. The billing_groups are returned
        sorted by creation date, with the most recently created billing_groups appearing
        first.
      operationId: billing_groups_list
      parameters:
      - description: How many results to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: An integer that designates the offset at which to begin returning
          results. Defaults to 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: |
          Request that the response include the total count by specifying `include[]=total_count`.
        explode: true
        in: query
        name: include
        required: false
        schema:
          $ref: '#/components/schemas/include_model'
        style: form
      - description: Filter by date created.
        explode: true
        in: query
        name: date_created
        required: false
        schema:
          additionalProperties:
            type: string
          description: 'Filter by ISO-8601 date or datetime, e.g. `{ gt: ''2012-01-01'',
            lt: ''2012-01-31T12:34:56Z'' }` where `gt` is >, `lt` is <, `gte` is ≥,
            and `lte` is ≤.'
          type: object
        style: form
      - description: Filter by date modified.
        explode: true
        in: query
        name: date_modified
        required: false
        schema:
          additionalProperties:
            type: string
          description: 'Filter by ISO-8601 date or datetime, e.g. `{ gt: ''2012-01-01'',
            lt: ''2012-01-31T12:34:56Z'' }` where `gt` is >, `lt` is <, `gte` is ≥,
            and `lte` is ≤.'
          type: object
        style: form
      - $ref: '#/components/parameters/sort_by_5'
        description: |
          Sorts items by ascending or descending dates. Use either `date_created` or `send_date`, not both.
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          properties:
            date_created:
              enum:
              - asc
              - desc
              type: string
            send_date:
              enum:
              - asc
              - desc
              type: string
          type: object
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/billing_group_list'
          description: Returns a list of billing_groups.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: list
      tags:
      - Billing Groups
      x-accepts: application/json
    post:
      description: Creates a new billing_group with the provided properties.
      operationId: billing_group_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/billing_group_editable'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/billing_group_editable'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/billing_group_editable'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/billing_group'
          description: Returns a billing group object
          headers:
            ratelimit-limit:
              $ref: '#/components/headers/ratelimit-limit'
            ratelimit-remaining:
              $ref: '#/components/headers/ratelimit-remaining'
            ratelimit-reset:
              $ref: '#/components/headers/ratelimit-reset'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: create
      tags:
      - Billing Groups
      x-contentType: application/json
      x-accepts: application/json
  /bulk/us_verifications:
    post:
      description: Verify a list of US or US territory addresses with a live API key.
      operationId: bulk_us_verifications
      parameters:
      - description: Casing of the verified address. Possible values are `upper` and
          `proper` for uppercased (e.g. "PO BOX") and proper-cased (e.g. "PO Box"),
          respectively.
        explode: true
        in: query
        name: case
        required: false
        schema:
          default: upper
          enum:
          - upper
          - proper
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/multiple_components_list'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/multiple_components_list'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/multiple_components_list'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/us_verifications'
          description: Returns a list of US verification objects.
          headers:
            ratelimit-limit:
              $ref: '#/components/headers/ratelimit-limit'
            ratelimit-remaining:
              $ref: '#/components/headers/ratelimit-remaining'
            ratelimit-reset:
              $ref: '#/components/headers/ratelimit-reset'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: verifyBulk
      tags:
      - Us Verifications
      x-contentType: application/json
      x-accepts: application/json
  /bulk/intl_verifications:
    post:
      description: Verify a list of international (except US or US territories) address
        with a live API key.
      operationId: bulk_intl_verifications
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/intl_verifications_payload'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/intl_verifications_payload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/intl_verifications'
          description: Returns an array of international verification objects.
          headers:
            ratelimit-limit:
              $ref: '#/components/headers/ratelimit-limit'
            ratelimit-remaining:
              $ref: '#/components/headers/ratelimit-remaining'
            ratelimit-reset:
              $ref: '#/components/headers/ratelimit-reset'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: verifyBulk
      tags:
      - Intl Verifications
      x-contentType: application/json
      x-accepts: application/json
  /cards:
    get:
      description: Returns a list of your cards. The cards are returned sorted by
        creation date, with the most recently created addresses appearing first.
      operationId: cards_list
      parameters:
      - description: How many results to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: |
          A reference to a list entry used for paginating to the previous set of entries. This field is pre-populated in the `previous_url` field in the return response.
        explode: true
        in: query
        name: before
        required: false
        schema:
          $ref: '#/components/schemas/before'
        style: form
      - description: |
          A reference to a list entry used for paginating to the next set of entries. This field is pre-populated in the `next_url` field in the return response.
        explode: true
        in: query
        name: after
        required: false
        schema:
          $ref: '#/components/schemas/after'
        style: form
      - $ref: '#/components/parameters/sort_by_5'
        description: |
          Sorts items by ascending or descending dates. Use either `date_created` or `send_date`, not both.
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          properties:
            date_created:
              enum:
              - asc
              - desc
              type: string
            send_date:
              enum:
              - asc
              - desc
              type: string
          type: object
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_list'
          description: Returns a list of card objects
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: list
      tags:
      - Cards
      x-accepts: application/json
    post:
      description: Creates a new card given information
      operationId: card_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/card_editable'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/card_editable'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/card_editable'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card'
          description: Card created successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: create
      tags:
      - Cards
      x-contentType: application/json
      x-accepts: application/json
  /cards/{card_id}:
    delete:
      description: Delete an existing card. You need only supply the unique identifier
        that was returned upon card creation.
      operationId: card_delete
      parameters:
      - description: id of the card
        explode: false
        in: path
        name: card_id
        required: true
        schema:
          $ref: '#/components/schemas/card_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_deletion'
          description: Deleted the card
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: delete
      tags:
      - Cards
      x-accepts: application/json
    get:
      description: Retrieves the details of an existing card. You need only supply
        the unique customer identifier that was returned upon card creation.
      operationId: card_retrieve
      parameters:
      - description: id of the card
        explode: false
        in: path
        name: card_id
        required: true
        schema:
          $ref: '#/components/schemas/card_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card'
          description: Returns a card object
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: get
      tags:
      - Cards
      x-accepts: application/json
    post:
      description: Update the details of an existing card. You need only supply the
        unique identifier that was returned upon card creation.
      operationId: card_update
      parameters:
      - description: id of the card
        explode: false
        in: path
        name: card_id
        required: true
        schema:
          $ref: '#/components/schemas/card_id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/card_updatable'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/card_updatable'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/card_updatable'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card'
          description: Returns a card object
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: update
      tags:
      - Cards
      x-contentType: application/json
      x-accepts: application/json
  /cards/{card_id}/orders:
    get:
      description: Retrieves the card orders associated with the given card id.
      operationId: card_orders_retrieve
      parameters:
      - description: The ID of the card to which the card orders belong.
        explode: false
        in: path
        name: card_id
        required: true
        schema:
          $ref: '#/components/schemas/card_id'
        style: simple
      - description: How many results to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: An integer that designates the offset at which to begin returning
          results. Defaults to 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_order_list'
          description: Returns the card orders associated with the given card id
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: get
      tags:
      - Card Orders
      x-accepts: application/json
    post:
      description: Creates a new card order given information
      operationId: card_order_create
      parameters:
      - description: The ID of the card to which the card orders belong.
        explode: false
        in: path
        name: card_id
        required: true
        schema:
          $ref: '#/components/schemas/card_id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/card_order_editable'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/card_order_editable'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/card_order_editable'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_order'
          description: Card order created successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: create
      tags:
      - Card Orders
      x-contentType: application/json
      x-accepts: application/json
  /checks/{chk_id}:
    delete:
      description: Completely removes a check from production. This can only be done
        if the check has a `send_date` and the `send_date` has not yet passed. If
        the check is successfully canceled, you will not be charged for it. Read more
        on [cancellation windows](#section/Cancellation-Windows) and [scheduling](#section/Scheduled-Mailings).
        Scheduling and cancellation is a premium feature. Upgrade to the appropriate
        [Print & Mail Edition](https://dashboard.lob.com/#/settings/editions) to gain
        access.
      operationId: check_cancel
      parameters:
      - description: id of the check
        explode: false
        in: path
        name: chk_id
        required: true
        schema:
          $ref: '#/components/schemas/chk_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/check_deletion'
          description: Deleted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: cancel
      tags:
      - Checks
      x-accepts: application/json
    get:
      description: Retrieves the details of an existing check. You need only supply
        the unique check identifier that was returned upon check creation.
      operationId: check_retrieve
      parameters:
      - description: id of the check
        explode: false
        in: path
        name: chk_id
        required: true
        schema:
          $ref: '#/components/schemas/chk_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/check'
          description: Returns a check object
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: get
      tags:
      - Checks
      x-accepts: application/json
  /checks:
    get:
      description: Returns a list of your checks. The checks are returned sorted by
        creation date, with the most recently created checks appearing first.
      operationId: checks_list
      parameters:
      - description: How many results to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: |
          A reference to a list entry used for paginating to the previous set of entries. This field is pre-populated in the `previous_url` field in the return response.
        explode: true
        in: query
        name: before
        required: false
        schema:
          $ref: '#/components/schemas/before'
        style: form
      - description: |
          A reference to a list entry used for paginating to the next set of entries. This field is pre-populated in the `next_url` field in the return response.
        explode: true
        in: query
        name: after
        required: false
        schema:
          $ref: '#/components/schemas/after'
        style: form
      - description: |
          Request that the response include the total count by specifying `include[]=total_count`.
        explode: true
        in: query
        name: include
        required: false
        schema:
          $ref: '#/components/schemas/include_model'
        style: form
      - description: Filter by date created.
        explode: true
        in: query
        name: date_created
        required: false
        schema:
          additionalProperties:
            type: string
          description: 'Filter by ISO-8601 date or datetime, e.g. `{ gt: ''2012-01-01'',
            lt: ''2012-01-31T12:34:56Z'' }` where `gt` is >, `lt` is <, `gte` is ≥,
            and `lte` is ≤.'
          type: object
        style: form
      - description: Filter by metadata key-value pair`.
        explode: true
        in: query
        name: metadata
        required: false
        schema:
          $ref: '#/components/schemas/metadata_model'
        style: form
      - description: |
          * `true` - only return orders (past or future) where `send_date` is
          greater than `date_created`
          * `false` - only return orders where `send_date` is equal to `date_created`
        explode: true
        in: query
        name: scheduled
        required: false
        schema:
          type: boolean
        style: form
      - description: Filter by date sent.
        explode: true
        in: query
        name: send_date
        required: false
        schema:
          additionalProperties:
            type: string
          description: 'Filter by ISO-8601 date or datetime, e.g. `{ gt: ''2012-01-01'',
            lt: ''2012-01-31T12:34:56Z'' }` where `gt` is >, `lt` is <, `gte` is ≥,
            and `lte` is ≤.'
          type: object
        style: form
      - description: |
          A string designating the mail postage type: * `usps_first_class` - (default) * `usps_standard` - a [cheaper option](https://lob.com/pricing/print-mail#compare) which is less predictable and takes longer to deliver. `usps_standard` cannot be used with `4x6` postcards or for any postcards sent outside of the United States.
        explode: true
        in: query
        name: mail_type
        required: false
        schema:
          $ref: '#/components/schemas/mail_type'
        style: form
      - $ref: '#/components/parameters/sort_by_5'
        description: |
          Sorts items by ascending or descending dates. Use either `date_created` or `send_date`, not both.
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          properties:
            date_created:
              enum:
              - asc
              - desc
              type: string
            send_date:
              enum:
              - asc
              - desc
              type: string
          type: object
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/check_list'
          description: A dictionary with a data property that contains an array of
            up to `limit` checks.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: list
      tags:
      - Checks
      x-accepts: application/json
    post:
      description: Creates a new check with the provided properties.
      operationId: check_create
      parameters:
      - description: |
          A string of no longer than 256 characters that uniquely identifies this resource. For more help integrating idempotency keys, refer to our [implementation guide](https://www.lob.com/guides#idempotent_request).
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 256
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/check_editable'
          application/x-www-form-urlencoded:
            encoding:
              to:
                explode: true
                style: deepObject
              from:
                explode: true
                style: deepObject
              merge_variables:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
            schema:
              $ref: '#/components/schemas/check_editable'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/check_editable'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/check'
          description: Returns a check object
          headers:
            ratelimit-limit:
              $ref: '#/components/headers/ratelimit-limit'
            ratelimit-remaining:
              $ref: '#/components/headers/ratelimit-remaining'
            ratelimit-reset:
              $ref: '#/components/headers/ratelimit-reset'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: create
      tags:
      - Checks
      x-contentType: application/json
      x-accepts: application/json
  /intl_autocompletions:
    post:
      description: Given an address prefix consisting of a partial primary line and
        country, as well as optional input of city, state, and zip code, this functionality
        returns up to 10 full International address suggestions. Not all of them will
        turn out to be valid addresses; they'll need to be [verified](#operation/intl_verification).
      operationId: intlAutocompletion
      parameters:
      - description: |
          * `native` - Translate response to the native language of the country in the request
          * `match` - match the response to the language in the request

          Default response is in English.
        explode: false
        in: header
        name: x-lang-output
        required: false
        schema:
          enum:
          - native
          - match
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/intl_autocompletions_writable'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/intl_autocompletions_writable'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/intl_autocompletions_writable'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/intl_autocompletions'
          description: Returns an international autocompletions object.
          headers:
            ratelimit-limit:
              $ref: '#/components/headers/ratelimit-limit'
            ratelimit-remaining:
              $ref: '#/components/headers/ratelimit-remaining'
            ratelimit-reset:
              $ref: '#/components/headers/ratelimit-reset'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: autocomplete
      tags:
      - Intl Autocompletions
      x-contentType: application/json
      x-accepts: application/json
  /intl_verifications:
    post:
      description: Verify an international (except US or US territories) address with
        a live API key.
      operationId: intl_verification
      parameters:
      - description: |
          * `native` - Translate response to the native language of the country in the request
          * `match` - match the response to the language in the request

          Default response is in English.
        explode: false
        in: header
        name: x-lang-output
        required: false
        schema:
          enum:
          - native
          - match
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/intl_verification_writable'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/intl_verification_writable'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/intl_verification_writable'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/intl_verification'
          description: Returns an international verification object.
          headers:
            ratelimit-limit:
              $ref: '#/components/headers/ratelimit-limit'
            ratelimit-remaining:
              $ref: '#/components/headers/ratelimit-remaining'
            ratelimit-reset:
              $ref: '#/components/headers/ratelimit-reset'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: verifySingle
      tags:
      - Intl Verifications
      x-contentType: application/json
      x-accepts: application/json
  /letters/{ltr_id}:
    delete:
      description: Completely removes a letter from production. This can only be done
        if the letter has a `send_date` and the `send_date` has not yet passed. If
        the letter is successfully canceled, you will not be charged for it. Read
        more on [cancellation windows](#section/Cancellation-Windows) and [scheduling](#section/Scheduled-Mailings).
        Scheduling and cancellation is a premium feature. Upgrade to the appropriate
        [Print & Mail Edition](https://dashboard.lob.com/#/settings/editions) to gain
        access.
      operationId: letter_cancel
      parameters:
      - description: id of the letter
        explode: false
        in: path
        name: ltr_id
        required: true
        schema:
          $ref: '#/components/schemas/ltr_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/letter_deletion'
          description: Deleted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: cancel
      tags:
      - Letters
      x-accepts: application/json
    get:
      description: Retrieves the details of an existing letter. You need only supply
        the unique letter identifier that was returned upon letter creation.
      operationId: letter_retrieve
      parameters:
      - description: id of the letter
        explode: false
        in: path
        name: ltr_id
        required: true
        schema:
          $ref: '#/components/schemas/ltr_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/letter'
          description: Returns a letter object
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: get
      tags:
      - Letters
      x-accepts: application/json
  /letters:
    get:
      description: Returns a list of your letters. The letters are returned sorted
        by creation date, with the most recently created letters appearing first.
      operationId: letters_list
      parameters:
      - description: How many results to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: |
          A reference to a list entry used for paginating to the previous set of entries. This field is pre-populated in the `previous_url` field in the return response.
        explode: true
        in: query
        name: before
        required: false
        schema:
          $ref: '#/components/schemas/before'
        style: form
      - description: |
          A reference to a list entry used for paginating to the next set of entries. This field is pre-populated in the `next_url` field in the return response.
        explode: true
        in: query
        name: after
        required: false
        schema:
          $ref: '#/components/schemas/after'
        style: form
      - description: |
          Request that the response include the total count by specifying `include[]=total_count`.
        explode: true
        in: query
        name: include
        required: false
        schema:
          $ref: '#/components/schemas/include_model'
        style: form
      - description: Filter by date created.
        explode: true
        in: query
        name: date_created
        required: false
        schema:
          additionalProperties:
            type: string
          description: 'Filter by ISO-8601 date or datetime, e.g. `{ gt: ''2012-01-01'',
            lt: ''2012-01-31T12:34:56Z'' }` where `gt` is >, `lt` is <, `gte` is ≥,
            and `lte` is ≤.'
          type: object
        style: form
      - description: Filter by metadata key-value pair`.
        explode: true
        in: query
        name: metadata
        required: false
        schema:
          $ref: '#/components/schemas/metadata_model'
        style: form
      - description: Set to `true` to return only color letters. Set to `false` to
          return only black & white letters.
        explode: true
        in: query
        name: color
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          * `true` - only return orders (past or future) where `send_date` is
          greater than `date_created`
          * `false` - only return orders where `send_date` is equal to `date_created`
        explode: true
        in: query
        name: scheduled
        required: false
        schema:
          type: boolean
        style: form
      - description: Filter by date sent.
        explode: true
        in: query
        name: send_date
        required: false
        schema:
          additionalProperties:
            type: string
          description: 'Filter by ISO-8601 date or datetime, e.g. `{ gt: ''2012-01-01'',
            lt: ''2012-01-31T12:34:56Z'' }` where `gt` is >, `lt` is <, `gte` is ≥,
            and `lte` is ≤.'
          type: object
        style: form
      - description: |
          A string designating the mail postage type: * `usps_first_class` - (default) * `usps_standard` - a [cheaper option](https://lob.com/pricing/print-mail#compare) which is less predictable and takes longer to deliver. `usps_standard` cannot be used with `4x6` postcards or for any postcards sent outside of the United States.
        explode: true
        in: query
        name: mail_type
        required: false
        schema:
          $ref: '#/components/schemas/mail_type'
        style: form
      - $ref: '#/components/parameters/sort_by_5'
        description: |
          Sorts items by ascending or descending dates. Use either `date_created` or `send_date`, not both.
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          properties:
            date_created:
              enum:
              - asc
              - desc
              type: string
            send_date:
              enum:
              - asc
              - desc
              type: string
          type: object
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/letter_list'
          description: A dictionary with a data property that contains an array of
            up to `limit` letters. Each entry in the array is a separate letter. The
            previous and next page of letters can be retrieved by calling the endpoint
            contained in the `previous_url` and `next_url` fields in the API response
            respectively. If no more letters are available beyond the current set
            of returned results, the `next_url` field will be empty.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: list
      tags:
      - Letters
      x-accepts: application/json
    post:
      description: Creates a new letter given information
      operationId: letter_create
      parameters:
      - description: |
          A string of no longer than 256 characters that uniquely identifies this resource. For more help integrating idempotency keys, refer to our [implementation guide](https://www.lob.com/guides#idempotent_request).
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 256
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/letter_editable'
          application/x-www-form-urlencoded:
            encoding:
              to:
                explode: true
                style: deepObject
              from:
                explode: true
                style: deepObject
              merge_variables:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
            schema:
              $ref: '#/components/schemas/letter_editable'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/letter_editable'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/letter'
          description: Returns a letter object
          headers:
            ratelimit-limit:
              $ref: '#/components/headers/ratelimit-limit'
            ratelimit-remaining:
              $ref: '#/components/headers/ratelimit-remaining'
            ratelimit-reset:
              $ref: '#/components/headers/ratelimit-reset'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: create
      tags:
      - Letters
      x-contentType: application/json
      x-accepts: application/json
  /postcards/{psc_id}:
    delete:
      description: Completely removes a postcard from production. This can only be
        done if the postcard has a `send_date` and the `send_date` has not yet passed.
        If the postcard is successfully canceled, you will not be charged for it.
        Read more on [cancellation windows](#section/Cancellation-Windows) and [scheduling](#section/Scheduled-Mailings).
        Scheduling and cancellation is a premium feature. Upgrade to the appropriate
        [Print & Mail Edition](https://dashboard.lob.com/#/settings/editions) to gain
        access.
      operationId: postcard_delete
      parameters:
      - description: id of the postcard
        explode: false
        in: path
        name: psc_id
        required: true
        schema:
          $ref: '#/components/schemas/psc_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postcard_deletion'
          description: Deleted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: cancel
      tags:
      - Postcards
      x-accepts: application/json
    get:
      description: Retrieves the details of an existing postcard. You need only supply
        the unique customer identifier that was returned upon postcard creation.
      operationId: postcard_retrieve
      parameters:
      - description: id of the postcard
        explode: false
        in: path
        name: psc_id
        required: true
        schema:
          $ref: '#/components/schemas/psc_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postcard'
          description: Returns a postcard object
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: get
      tags:
      - Postcards
      x-accepts: application/json
  /postcards:
    get:
      description: Returns a list of your postcards. The addresses are returned sorted
        by creation date, with the most recently created addresses appearing first.
      operationId: postcards_list
      parameters:
      - description: How many results to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: |
          A reference to a list entry used for paginating to the previous set of entries. This field is pre-populated in the `previous_url` field in the return response.
        explode: true
        in: query
        name: before
        required: false
        schema:
          $ref: '#/components/schemas/before'
        style: form
      - description: |
          A reference to a list entry used for paginating to the next set of entries. This field is pre-populated in the `next_url` field in the return response.
        explode: true
        in: query
        name: after
        required: false
        schema:
          $ref: '#/components/schemas/after'
        style: form
      - description: |
          Request that the response include the total count by specifying `include[]=total_count`.
        explode: true
        in: query
        name: include
        required: false
        schema:
          $ref: '#/components/schemas/include_model'
        style: form
      - description: Filter by date created.
        explode: true
        in: query
        name: date_created
        required: false
        schema:
          additionalProperties:
            type: string
          description: 'Filter by ISO-8601 date or datetime, e.g. `{ gt: ''2012-01-01'',
            lt: ''2012-01-31T12:34:56Z'' }` where `gt` is >, `lt` is <, `gte` is ≥,
            and `lte` is ≤.'
          type: object
        style: form
      - description: Filter by metadata key-value pair`.
        explode: true
        in: query
        name: metadata
        required: false
        schema:
          $ref: '#/components/schemas/metadata_model'
        style: form
      - description: Specifies the size of the postcard. Only `4x6` postcards can
          be sent to international destinations.
        explode: true
        in: query
        name: size
        required: false
        schema:
          $ref: '#/components/schemas/postcard_size'
        style: form
      - description: |
          * `true` - only return orders (past or future) where `send_date` is
          greater than `date_created`
          * `false` - only return orders where `send_date` is equal to `date_created`
        explode: true
        in: query
        name: scheduled
        required: false
        schema:
          type: boolean
        style: form
      - description: Filter by date sent.
        explode: true
        in: query
        name: send_date
        required: false
        schema:
          additionalProperties:
            type: string
          description: 'Filter by ISO-8601 date or datetime, e.g. `{ gt: ''2012-01-01'',
            lt: ''2012-01-31T12:34:56Z'' }` where `gt` is >, `lt` is <, `gte` is ≥,
            and `lte` is ≤.'
          type: object
        style: form
      - description: |
          A string designating the mail postage type: * `usps_first_class` - (default) * `usps_standard` - a [cheaper option](https://lob.com/pricing/print-mail#compare) which is less predictable and takes longer to deliver. `usps_standard` cannot be used with `4x6` postcards or for any postcards sent outside of the United States.
        explode: true
        in: query
        name: mail_type
        required: false
        schema:
          $ref: '#/components/schemas/mail_type'
        style: form
      - $ref: '#/components/parameters/sort_by_5'
        description: |
          Sorts items by ascending or descending dates. Use either `date_created` or `send_date`, not both.
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          properties:
            date_created:
              enum:
              - asc
              - desc
              type: string
            send_date:
              enum:
              - asc
              - desc
              type: string
          type: object
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postcard_list'
          description: A dictionary with a data property that contains an array of
            up to `limit` postcards.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: list
      tags:
      - Postcards
      x-accepts: application/json
    post:
      description: Creates a new postcard given information
      operationId: postcard_create
      parameters:
      - description: |
          A string of no longer than 256 characters that uniquely identifies this resource. For more help integrating idempotency keys, refer to our [implementation guide](https://www.lob.com/guides#idempotent_request).
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 256
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postcard_editable'
          application/x-www-form-urlencoded:
            encoding:
              to:
                explode: true
                style: deepObject
              from:
                explode: true
                style: deepObject
              merge_variables:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
            schema:
              $ref: '#/components/schemas/postcard_editable'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/postcard_editable'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postcard'
          description: Returns a postcard object
          headers:
            ratelimit-limit:
              $ref: '#/components/headers/ratelimit-limit'
            ratelimit-remaining:
              $ref: '#/components/headers/ratelimit-remaining'
            ratelimit-reset:
              $ref: '#/components/headers/ratelimit-reset'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: create
      tags:
      - Postcards
      x-contentType: application/json
      x-accepts: application/json
  /self_mailers/{sfm_id}:
    delete:
      description: Completely removes a self mailer from production. This can only
        be done if the self mailer's `send_date` has not yet passed.
      operationId: self_mailer_delete
      parameters:
      - description: id of the self_mailer
        explode: false
        in: path
        name: sfm_id
        required: true
        schema:
          $ref: '#/components/schemas/sfm_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/self_mailer_deletion'
          description: Deleted the card
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: delete
      tags:
      - Self Mailers
      x-accepts: application/json
    get:
      description: Retrieves the details of an existing self_mailer. You need only
        supply the unique self_mailer identifier that was returned upon self_mailer
        creation.
      operationId: self_mailer_retrieve
      parameters:
      - description: id of the self_mailer
        explode: false
        in: path
        name: sfm_id
        required: true
        schema:
          $ref: '#/components/schemas/sfm_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/self_mailer'
          description: Returns a self_mailer object
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: get
      tags:
      - Self Mailers
      x-accepts: application/json
  /self_mailers:
    get:
      description: Returns a list of your self_mailers. The self_mailers are returned
        sorted by creation date, with the most recently created self_mailers appearing
        first.
      operationId: self_mailers_list
      parameters:
      - description: How many results to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: |
          A reference to a list entry used for paginating to the previous set of entries. This field is pre-populated in the `previous_url` field in the return response.
        explode: true
        in: query
        name: before
        required: false
        schema:
          $ref: '#/components/schemas/before'
        style: form
      - description: |
          A reference to a list entry used for paginating to the next set of entries. This field is pre-populated in the `next_url` field in the return response.
        explode: true
        in: query
        name: after
        required: false
        schema:
          $ref: '#/components/schemas/after'
        style: form
      - description: |
          Request that the response include the total count by specifying `include[]=total_count`.
        explode: true
        in: query
        name: include
        required: false
        schema:
          $ref: '#/components/schemas/include_model'
        style: form
      - description: Filter by date created.
        explode: true
        in: query
        name: date_created
        required: false
        schema:
          additionalProperties:
            type: string
          description: 'Filter by ISO-8601 date or datetime, e.g. `{ gt: ''2012-01-01'',
            lt: ''2012-01-31T12:34:56Z'' }` where `gt` is >, `lt` is <, `gte` is ≥,
            and `lte` is ≤.'
          type: object
        style: form
      - description: Filter by metadata key-value pair`.
        explode: true
        in: query
        name: metadata
        required: false
        schema:
          $ref: '#/components/schemas/metadata_model'
        style: form
      - description: The self mailer sizes to be returned.
        explode: true
        in: query
        name: size
        required: false
        schema:
          $ref: '#/components/schemas/self_mailer_size'
        style: form
      - description: |
          * `true` - only return orders (past or future) where `send_date` is
          greater than `date_created`
          * `false` - only return orders where `send_date` is equal to `date_created`
        explode: true
        in: query
        name: scheduled
        required: false
        schema:
          type: boolean
        style: form
      - description: Filter by date sent.
        explode: true
        in: query
        name: send_date
        required: false
        schema:
          additionalProperties:
            type: string
          description: 'Filter by ISO-8601 date or datetime, e.g. `{ gt: ''2012-01-01'',
            lt: ''2012-01-31T12:34:56Z'' }` where `gt` is >, `lt` is <, `gte` is ≥,
            and `lte` is ≤.'
          type: object
        style: form
      - description: |
          A string designating the mail postage type: * `usps_first_class` - (default) * `usps_standard` - a [cheaper option](https://lob.com/pricing/print-mail#compare) which is less predictable and takes longer to deliver. `usps_standard` cannot be used with `4x6` postcards or for any postcards sent outside of the United States.
        explode: true
        in: query
        name: mail_type
        required: false
        schema:
          $ref: '#/components/schemas/mail_type'
        style: form
      - $ref: '#/components/parameters/sort_by_5'
        description: |
          Sorts items by ascending or descending dates. Use either `date_created` or `send_date`, not both.
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          properties:
            date_created:
              enum:
              - asc
              - desc
              type: string
            send_date:
              enum:
              - asc
              - desc
              type: string
          type: object
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/self_mailer_list'
          description: A dictionary with a data property that contains an array of
            up to `limit` self_mailers.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: list
      tags:
      - Self Mailers
      x-accepts: application/json
    post:
      description: Creates a new self_mailer given information
      operationId: self_mailer_create
      parameters:
      - description: |
          A string of no longer than 256 characters that uniquely identifies this resource. For more help integrating idempotency keys, refer to our [implementation guide](https://www.lob.com/guides#idempotent_request).
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 256
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/self_mailer_editable'
          application/x-www-form-urlencoded:
            encoding:
              merge_variables:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
            schema:
              $ref: '#/components/schemas/self_mailer_editable'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/self_mailer_editable'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/self_mailer'
          description: Returns a self_mailer object
          headers:
            ratelimit-limit:
              $ref: '#/components/headers/ratelimit-limit'
            ratelimit-remaining:
              $ref: '#/components/headers/ratelimit-remaining'
            ratelimit-reset:
              $ref: '#/components/headers/ratelimit-reset'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: create
      tags:
      - Self Mailers
      x-contentType: application/json
      x-accepts: application/json
  /templates/{tmpl_id}/versions/{vrsn_id}:
    delete:
      description: Permanently deletes a template version. A template's `published_version`
        can not be deleted.
      operationId: template_version_delete
      parameters:
      - description: The ID of the template to which the version belongs.
        explode: false
        in: path
        name: tmpl_id
        required: true
        schema:
          $ref: '#/components/schemas/tmpl_id'
        style: simple
      - description: id of the template_version
        explode: false
        in: path
        name: vrsn_id
        required: true
        schema:
          $ref: '#/components/schemas/vrsn_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/template_version_deletion'
          description: Deleted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: delete
      tags:
      - Template Versions
      x-accepts: application/json
    get:
      description: Retrieves the template version with the given template and version
        ids.
      operationId: template_version_retrieve
      parameters:
      - description: The ID of the template to which the version belongs.
        explode: false
        in: path
        name: tmpl_id
        required: true
        schema:
          $ref: '#/components/schemas/tmpl_id'
        style: simple
      - description: id of the template_version
        explode: false
        in: path
        name: vrsn_id
        required: true
        schema:
          $ref: '#/components/schemas/vrsn_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/template_version'
          description: Returns the template version with the given template and version
            ids.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: get
      tags:
      - Template Versions
      x-accepts: application/json
    post:
      description: Updates the template version with the given template and version
        ids.
      operationId: template_version_update
      parameters:
      - description: The ID of the template to which the version belongs.
        explode: false
        in: path
        name: tmpl_id
        required: true
        schema:
          $ref: '#/components/schemas/tmpl_id'
        style: simple
      - description: id of the template_version
        explode: false
        in: path
        name: vrsn_id
        required: true
        schema:
          $ref: '#/components/schemas/vrsn_id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/template_version_updatable'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/template_version_updatable'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/template_version_updatable'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/template_version'
          description: Returns the template version with the given template and version
            ids.
          headers:
            ratelimit-limit:
              $ref: '#/components/headers/ratelimit-limit'
            ratelimit-remaining:
              $ref: '#/components/headers/ratelimit-remaining'
            ratelimit-reset:
              $ref: '#/components/headers/ratelimit-reset'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: update
      tags:
      - Template Versions
      x-contentType: application/json
      x-accepts: application/json
  /templates/{tmpl_id}/versions:
    get:
      description: |
        Returns a list of template versions for the given template ID. The template versions are sorted by creation date, with the most recently created appearing first.
      operationId: template_versions_list
      parameters:
      - description: The ID of the template associated with the retrieved versions
        explode: false
        in: path
        name: tmpl_id
        required: true
        schema:
          $ref: '#/components/schemas/tmpl_id'
        style: simple
      - description: How many results to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: |
          A reference to a list entry used for paginating to the previous set of entries. This field is pre-populated in the `previous_url` field in the return response.
        explode: true
        in: query
        name: before
        required: false
        schema:
          $ref: '#/components/schemas/before'
        style: form
      - description: |
          A reference to a list entry used for paginating to the next set of entries. This field is pre-populated in the `next_url` field in the return response.
        explode: true
        in: query
        name: after
        required: false
        schema:
          $ref: '#/components/schemas/after'
        style: form
      - description: |
          Request that the response include the total count by specifying `include[]=total_count`.
        explode: true
        in: query
        name: include
        required: false
        schema:
          $ref: '#/components/schemas/include_model'
        style: form
      - description: Filter by date created.
        explode: true
        in: query
        name: date_created
        required: false
        schema:
          additionalProperties:
            type: string
          description: 'Filter by ISO-8601 date or datetime, e.g. `{ gt: ''2012-01-01'',
            lt: ''2012-01-31T12:34:56Z'' }` where `gt` is >, `lt` is <, `gte` is ≥,
            and `lte` is ≤.'
          type: object
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/template_version_list'
          description: A dictionary with a data property that contains an array of
            up to `limit` template versions. Each entry in the array is a separate
            template version object. The previous and next page of template versions
            can be retrieved by calling the endpoint contained in the `previous_url`
            and `next_url` fields in the API response respectively.<br>If no more
            template versions are available beyond the current set of returned results,
            the `next_url` field will be empty.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: list
      tags:
      - Template Versions
      x-accepts: application/json
    post:
      description: Creates a new template version attached to the specified template.
      operationId: create_template_version
      parameters:
      - description: The ID of the template the new version will be attached to
        explode: false
        in: path
        name: tmpl_id
        required: true
        schema:
          $ref: '#/components/schemas/tmpl_id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/template_version_writable'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/template_version_writable'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/template_version_writable'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/template_version'
          description: Returns the template version with the given template and version
            ids.
          headers:
            ratelimit-limit:
              $ref: '#/components/headers/ratelimit-limit'
            ratelimit-remaining:
              $ref: '#/components/headers/ratelimit-remaining'
            ratelimit-reset:
              $ref: '#/components/headers/ratelimit-reset'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: create
      tags:
      - Template Versions
      x-contentType: application/json
      x-accepts: application/json
  /templates/{tmpl_id}:
    delete:
      description: Permanently deletes a template.
      operationId: template_delete
      parameters:
      - description: id of the template
        explode: false
        in: path
        name: tmpl_id
        required: true
        schema:
          $ref: '#/components/schemas/tmpl_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/template_deletion'
          description: Deleted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: delete
      tags:
      - Templates
      x-accepts: application/json
    get:
      description: Retrieves the details of an existing template.
      operationId: template_retrieve
      parameters:
      - description: id of the template
        explode: false
        in: path
        name: tmpl_id
        required: true
        schema:
          $ref: '#/components/schemas/tmpl_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/template'
          description: Returns a template object
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: get
      tags:
      - Templates
      x-accepts: application/json
    post:
      description: Updates the description and/or published version of the template
        with the given id.
      operationId: template_update
      parameters:
      - description: id of the template
        explode: false
        in: path
        name: tmpl_id
        required: true
        schema:
          $ref: '#/components/schemas/tmpl_id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/template_update'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/template_update'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/template_update'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/template'
          description: Returns the updated template object
          headers:
            ratelimit-limit:
              $ref: '#/components/headers/ratelimit-limit'
            ratelimit-remaining:
              $ref: '#/components/headers/ratelimit-remaining'
            ratelimit-reset:
              $ref: '#/components/headers/ratelimit-reset'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: update
      tags:
      - Templates
      x-contentType: application/json
      x-accepts: application/json
  /templates:
    get:
      description: Returns a list of your templates. The templates are returned sorted
        by creation date, with the most recently created templates appearing first.
      operationId: templates_list
      parameters:
      - description: How many results to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: |
          A reference to a list entry used for paginating to the previous set of entries. This field is pre-populated in the `previous_url` field in the return response.
        explode: true
        in: query
        name: before
        required: false
        schema:
          $ref: '#/components/schemas/before'
        style: form
      - description: |
          A reference to a list entry used for paginating to the next set of entries. This field is pre-populated in the `next_url` field in the return response.
        explode: true
        in: query
        name: after
        required: false
        schema:
          $ref: '#/components/schemas/after'
        style: form
      - description: |
          Request that the response include the total count by specifying `include[]=total_count`.
        explode: true
        in: query
        name: include
        required: false
        schema:
          $ref: '#/components/schemas/include_model'
        style: form
      - description: Filter by date created.
        explode: true
        in: query
        name: date_created
        required: false
        schema:
          additionalProperties:
            type: string
          description: 'Filter by ISO-8601 date or datetime, e.g. `{ gt: ''2012-01-01'',
            lt: ''2012-01-31T12:34:56Z'' }` where `gt` is >, `lt` is <, `gte` is ≥,
            and `lte` is ≤.'
          type: object
        style: form
      - description: Filter by metadata key-value pair`.
        explode: true
        in: query
        name: metadata
        required: false
        schema:
          $ref: '#/components/schemas/metadata_model'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/template_list'
          description: A dictionary with a data property that contains an array of
            up to `limit` templates. Each entry in the array is a separate template.
            The previous and next page of templates can be retrieved by calling the
            endpoint contained in the `previous_url` and `next_url` fields in the
            API response respectively.<br>If no more templates are available beyond
            the current set of returned results, the `next_url` field will be empty.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: list
      tags:
      - Templates
      x-accepts: application/json
    post:
      description: Creates a new template for use with the Print & Mail API. In Live
        mode, you can only have as many non-deleted templates as allotted in your
        current [Print & Mail Edition](https://dashboard.lob.com/#/settings/editions).
        If you attempt to create a template past your limit, you will receive a `403`
        error. There is no limit in Test mode.
      operationId: create_template
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/template_writable'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/template_writable'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/template_writable'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/template'
          description: Returns a template object
          headers:
            ratelimit-limit:
              $ref: '#/components/headers/ratelimit-limit'
            ratelimit-remaining:
              $ref: '#/components/headers/ratelimit-remaining'
            ratelimit-reset:
              $ref: '#/components/headers/ratelimit-reset'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: create
      tags:
      - Templates
      x-contentType: application/json
      x-accepts: application/json
  /us_autocompletions:
    post:
      description: Given an address prefix consisting of a partial primary line, as
        well as optional input of city, state, and zip code, this functionality returns
        up to 10 full US address suggestions. Not all of them will turn out to be
        valid addresses; they'll need to be [verified](#operation/verification_us).
      operationId: usAutocompletion
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/us_autocompletions_writable'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/us_autocompletions_writable'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/us_autocompletions_writable'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/us_autocompletions'
          description: Returns a US autocompletion object.
          headers:
            ratelimit-limit:
              $ref: '#/components/headers/ratelimit-limit'
            ratelimit-remaining:
              $ref: '#/components/headers/ratelimit-remaining'
            ratelimit-reset:
              $ref: '#/components/headers/ratelimit-reset'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lob_error'
          description: Lob uses RESTful HTTP response codes to indicate success or
            failure of an API request.
      summary: autocomplete
      tags:
      - Us Autocompletions
      x-contentType: application/json
      x-accepts: application/json
  /us_reverse_geocode_lookups:
[...]
